/* ==========================================================================
   Typography

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */


/* Fonts
   ========================================================================== */
$font-family--base:         'Helvetica', arial, sans-serif;


/* Text sizes
   ========================================================================== */
$text-size--base:            100%;       // 16px


/* Line-heights
   ========================================================================== */
$line-height--base:     1.6;
